<p id="notice"><%= notice %></p>

<div class="topnav">
  <div class = "add">
    <%= link_to 'Add Restaurant', new_restaurant_path %>
  </div>
  <div class="search-container">
    <%= form_for "", url: restaurants_path, role: "search", method: :get do %>
    <%= text_field_tag :search_name, @search_term_name,placeholder: "Restaurant ... " %> 
    <%= text_field_tag :search_address, @search_term_address,placeholder: "Address ... " %>
    <%= submit_tag "Search" %>
  </div>
<% end %> 
</div>
<br><br>

<table class="table table-striped">
    <% @restaurants.each do |restaurant| %>
    <tbody>
      <tr>
        <td>
	    <%= restaurant.name %><br>
            <%= restaurant.address %>
        </td>
       
        <td>
	    <%= link_to 'Show', restaurant %> |
            <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
        </td>
       
	<td>
            <%= image_tag("thumps_up.png", :alt => "Does Split") %> 
            <span class="upvote"><%= restaurant.upvote %> </span> 
        </td>
       
	<td>
            <%= image_tag("thumbs_down.png", :alt => "Does Not Split") %>
            <span class="downvote"> <%= restaurant.downvote %> </span> 
        </td>
        
         <td><%= button_to 'Splits check ',  {:controller => 'restaurants',
                                   :action => "upvote",
                                   :id => restaurant.id,
				   :upvote => restaurant.upvote}, method: 'post'%>
         </td>
        
	 <td><%= button_to 'Does NOT split check',{:controller => 'restaurants',
                                   :action => "downvote",
                                   :id => restaurant.id,
				   :downvote => restaurant.downvote}, method: 'post'%> 
         </td>
      </tr>
      <tr><td><br></td></tr>
     </tbody>
    <% end %>
</table>

<br>
