<p id="notice"><%= notice %></p>
<div class="topnav">
  <div class = "add">
    <% if user_signed_in? %>
    <%= link_to 'Add Restaurant', new_restaurant_path %>
    <% end %>
  </div>
  <div class="search-container">
    <%= form_for "", url: restaurants_path, role: "search", method: :get do %>
    <%= text_field_tag :search_name, @search_term_name,placeholder: "Restaurant ... " %> 
    <%= text_field_tag :search_address, @search_term_address,placeholder: "Address ... " %>
    <%= submit_tag "Search" %>
  </div>
<% end %> 
</div>
<br><br>
<table class="table table-striped">
    <% @restaurants.each do |restaurant| %>
    <tbody>
      <tr>
        <td>
	    <%= restaurant.name %><br>
            <%= restaurant.address %>
        </td>
       
        <td>
	    <%= link_to 'Show', restaurant %> 
	    <% if user_signed_in? %>|
              <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
            <% end %>
        </td>
       
	<td>
            <%= image_tag("thumps_up.png", :alt => "Does Split") %> 
	    <span class="upvote"> <%= restaurant.upvote_score %> </span> 
        </td>

	<td>
            <%= image_tag("thumbs_down.png", :alt => "Does Not Split") %>
            <span class="downvote"> <%= restaurant.downvote_score %> </span> 
        </td>
        <td>
            <% if user_signed_in? %>
	    <%= button_to 'Splits check ',  {:controller => 'votes',
                                   :action => "upvote_restaurant",
				   :user => current_user,
                                   :restaurant => restaurant,
				   :vote => "true"}, method: 'post'%>
	    <% end %>         
	</td>
        
	<td>
	    <% if user_signed_in? %>
	    <%= button_to 'Does NOT split check',{:controller => 'votes',
                                   :action => "downvote_restaurant",
				   :user => current_user,
                                   :restaurant => restaurant,
				   :vote => "false"}, method: 'post'%> 
	    <% end %>
	</td>
	<td>
          <% if user_signed_in? %>
	    <%= link_to 'Add Comment', new_comment_path(:restaurant_id => restaurant.id, :user_id => current_user.id) %>
          <% end %> 
          <% if user_signed_in? %>
	    <td>
                <% if restaurant.favorites_status(current_user.id) == false %>
         		<%= button_to 'Favorite?',{:controller => 'favorites',
                                   :action => "favorite_restaurant",
				   :user => current_user,
                                   :restaurant => restaurant}, method: 'post'%>
                	<%= image_tag("star_open.png", :alt => "Not a favorite") %>  
 		<% end %>
                <% if restaurant.favorites_status(current_user.id) == true %>
			One of your favorites!
			<%= image_tag("favorite_star.png", :alt => "Favorite") %>   
 		<% end %>
	   </td>
          <% end %>
	</td>
      </tr>
      <tr><td><br></td></tr>
     </tbody>
    <% end %>
</table>
<br>
