<!DOCTYPE html>
<html>
  <head>
    <title>Split The Check</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand" rel="stylesheet"> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<div class = wrapper>
<header>
    <h1>Restaurants</h1>
    <h2>...will they split the check?</h2>
 </header>
  <body>
   <div class = floatright >
    <% if user_signed_in? %>
      <div class = pink><%= current_user.email %></div><br>
      <%= link_to "Logout",  destroy_user_session_path, :method=> :delete %>
    <% else %>
       <%= link_to "Login", new_user_session_path %> | <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
<footer>
 <a href="mailto:mjones29@my.westga.edu">
  mjones29@my.westga.edu</a>
</footer>
</div>
</html>
